In [5]:
from snowflake.connector.pandas_tools import write_pandas
import snowflake.connector
import pandas as pd
import credentials

In [2]:
data = pd.read_csv('transformed_books_data.csv')

In [15]:
con = snowflake.connector.connect(
    user = 'VINEETHREDDY',
    password = 'my_pwd',
    account = 'nlsfqcs-ln48670',
    warehouse = 'COMPUTE_WH',
    database = 'DE_CODING',
    schema = 'PUBLIC',
    role = 'ACCOUNTADMIN')

In [18]:
cur = con.cursor()

In [20]:
data.columns

Index(['Title', 'Rating', 'Price', 'Availability'], dtype='object')

In [26]:
cur.execute('CREATE TABLE "BOOKS_DATA_PYTHON2" ("Title" String, "Rating" FLOAT,"Price" FLOAT, "Availability" String)')

In [27]:
write_pandas(con, data, table_name = "BOOKS_DATA_PYTHON2")

(True,
 1,
 1000,
 [('jhtkxmobmf/file0.txt',
   'LOADED',
   1000,
   1000,
   1,
   0,
   None,
   None,
   None,
   None)])

## Data Retrieval

In [29]:
sqlquery = 'select * from "BOOKS_DATA_PYTHON2"'
cur.execute(sqlquery)
data_fetch = cur.fetchall()
df = pd.DataFrame(data_fetch)

In [30]:
df

                                                     0    1      2         3
0                                 A Light in the Attic  3.0  51.77  In stock
1                                   Tipping the Velvet  1.0  53.74  In stock
2                                           Soumission  1.0  50.10  In stock
3                                        Sharp Objects  4.0  47.82  In stock
4                Sapiens: A Brief History of Humankind  5.0  54.23  In stock
..                                                 ...  ...    ...       ...
995  Alice in Wonderland (Alice's Adventures in Won...  1.0  55.53  In stock
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  4.0  57.06  In stock
997  A Spy's Devotion (The Regency Spies of London #1)  5.0  16.97  In stock
998                1st to Die (Women's Murder Club #1)  1.0  53.98  In stock
999                 1,000 Places to See Before You Die  5.0  26.08  In stock

[1000 rows x 4 columns]